# Prerequisites
*.d

# msvc crap
.vs

# Object files
*.o
*.ko
*.obj
*.elf

# assembler
*.asm

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch
*.res

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.tlog
*.recipe
*.CppClean.log
*.log
*FileListAbsolute.txt


# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
